body {
    background-color: #0080ff;
    margin: 3rem;
    font-family: 'Roboto';
}
h1 {
    font-size: 4rem;
    text-align: center;
    color: white;
}
#StartGame {
    height: 20px;
    width: 164px;
    background-color: Red;
    border: none;
    font-size: 1reml
}
