body {
    background-color: #0080ff;
    margin: 3rem;
    font-family: 'Roboto';
}
img {
    align-items: center;
    height: 6rem;
    width: 6rem;
}
h1 {
    font-size: 4rem;
    text-align: center;
    color: White;
}
div {
    text-align: center;
}
#StartGame {
    line-height: 20px;
    width: 164px;
    background-color: Red;
    border: none;
    font-family: 'Roboto';
    font-size: 1rem;
}
#Tutorial {
    line-height: 20px;
    width: 116px;
    background-color: Red;
    border: none;
    font-family: 'Roboto';
    font-size: 1rem;
}
