* {
    background-color: #0080ff;
    margin: 3rem;
    font-family: 'Roboto';
}
h1 {
    font-size: 4rem;
    text-align: center;
    color: white;
}
h2 {
    font-size: 2rem;
    text-align: center;
    color: red;
}
